<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">Agenda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"> Menu
    </button>
    {% if not user.is_authenticated %}
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
        <a class="dropdown-item" href="{% url 'dashboard' %}">Perfil</a>
      </div>
    {% else %}
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="{% url 'dashboard' %}">Perfil</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
    {% endif %}
  </div>
</nav>

 